/* Reset CSS
 * --------------------------------------- */
 body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
 form,fieldset,input,textarea,p,blockquote,th,td,section,article {
     padding: 0;
     margin: 0;
 }

 h1 {
    font-family: AdamPro;
    font-size: 6em;
    color: white;
}

p {
    font-family: Yanone_EL;
    font-size: 2em;
    color: white;
    margin: 0 auto;
    padding: 15px 10px;
}

button {
    /* font-family: Yanone_EL; */
    /* font-size: 5px; */
    /* background-color: white;
    color: black; */
    /* border-radius: 15px; */
    /* cursor: pointer;
    padding: 15px 25px;
    border-color: white; */


    background-color: white;
    color: black;
    border-radius: 30px;
    cursor: pointer;
    padding: 14px 30px;
    border: none;
    font-weight: bold;
    box-shadow: 10px 5px 12px #000000;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 10px; */
}

.contact-item {
    width: 40px;
    padding: 15px;
    margin: 5px;
}

.section {
    text-align: center;
}

/*For the menu anchors*/
.float_center{
    text-align: center;
}

/*Aligns the paragraphs in the middle center of the page*/
.text_margin {
    margin: 0 15%;
    text-align: justify;
}
 
#center_logo {
    text-align: center;
 }

.logo {
    width: 80px;
    max-width: 100%;
    margin-right: 15px;
}

.work-anchor {
    font-size: 15px;
    margin-top: 20px;
}

/*For anchors to be aligned next to each other*/
#menu li {
    font-family: 'Yanone_EL', sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
}

/*Sets the padding spacing among the menu anchor elements*/
#menu li a,
#menu li.active a{
     padding: 2px 25px;
     display:block;
}

 /*Keeping the menu centered at the exact position with fixed*/
 #menu{
     position:fixed;
     top:0;
     left:0;
     height: 40px;
     z-index: 70;
     width: 100%;
     padding: 0;
     margin:0;
 }

  /* #menu li a{
     text-decoration:none;
     color: white;
 } */

 /* #menu li.active a:hover{
     color: white;
     font-weight: bold;
 } */

  /* #menu li.active a{
     color: #fff;
 } */

/*bottom two css elements go hand to hand for underlining and having the anchor texts in white along with a hover feature*/
a {
    font-size: 24px;
    text-decoration:none;
    color: white;
}

 a:hover, a:active {
     text-decoration: underline;
 }

  /* a:visited {
     text-decoration: none;
 } */

  /* a:link, a:visited {
     color: none;
 } */

 
 /* all images included below have been gathered from a public domain found on the web */
 
 #section0 {
     background: linear-gradient(#000, transparent), url("../images/Landscape-1.jpg") no-repeat center;
     background-size: cover;
 }
 #section1 {
     background: linear-gradient(#000, transparent),
                 url("../images/europe.jpg") no-repeat center;
     background-size: cover;
 }
 
 #section2 {
     background: linear-gradient(#000, transparent),
                 url("../images/europe1.jpg") no-repeat center;
     background-size: cover;
 }
 #section3 {
     background: linear-gradient(#000, transparent),
                 url("../images/europe2.jpg") no-repeat center;
     background-size: cover;
 }

 /*************************************************************************************/
 
 /*********** Fonts *************/

 @font-face { 
    font-family: 'Ababil';
    src: url('../fonts/Ababil.ttf');
}

@font-face {
    font-family: 'Yanone_EL';
    src: url('../fonts/Yanone_EL.ttf');
}

@font-face {
    font-family: 'Yanone_R';
    src: url('../fonts/Yanone_R.ttf');
}

@font-face {
    font-family: 'AdamPro';
    src: url('../fonts/AdamPro.otf')
}

 /*******************************/
 
 /******** Media Queries ********/
 
 /* @media (max-width: 320px) {
 }
 
 @media only screen and (min-device-width: 320px) and (max-device-width: 481px) {  
      .logo {
         width: 60px;
         max-width: 100%;
         
         padding-right: 15px;
     }
     ul li a {
         font-size: 18px;
     }
     p {
         font-size: 21px;
     }
     section a {
         font-size: 21px;
     }
 } */
 
 /* @media only screen 
   and (min-device-width: 320px) 
   and (max-device-width: 481px)
   and (orientation: landscape) {
       .logo {
         width: 60px;
         max-width: 100%;
         
         padding-right: 15px;
     }
     ul li a {
         font-size: 18px;
     }
     p {
         font-size: 21px;
     }
     section a {
         font-size: 21px;
     }
 } */
 
 @media (min-width: 320px) and (max-width: 481px) {
     .logo {
         width: 60px;
         max-width: 100%;
         
         /* padding-right: 15px; */
     }
     ul li a {
         font-size: 18px;
     }
     p {
         font-size: 16px;
     }
     section a {
         font-size: 21px;
     }
     h1 {
         font-size: 3em;
     }
     .work-anchor {
         font-size: 21px;
     }
     .contact-item {
        width: 20px;
    }
 }
 
 @media (min-width: 482px) and (max-width: 736px) {
    .logo {
        width: 70px;
        max-width: 100%;
        /* padding-right: 15px; */
     }
    ul li a {
         font-size: 24px;
    }
    .contact-item {
        width: 30px;
    }
 } 
 
 /* @media (min-width: 737px) and (max-width: 1025px) {
             
     
 } */
 
 /******** Media Queries ********/
 