/** Note: When you come back to this, you have to experiment with percentages instead for min and max widths for both images and text within the lightbox. The margin within the .mySlides class made a difference when trying to utilize percentages when trying to make the lightbox responsive **/

body, header, aside, section, article, h1, h2, h3, nav, div, footer {
    padding: 0;
    margin: 0;
}

body {
  font-family: Yanone_R, sans-serif;
  font-size: 24px;
  margin: 0;
  background-color: #333;
  color: white;
}

#root {
    background: linear-gradient(#000, transparent);
}

.wrapper {
    padding-bottom: 2.5rem;
}

footer {
    font-family: Yanone_EL, sans-serif;
    font-size: 21px;
    text-align: center;
    color: white;
    /* padding-bottom: 10px; */
    position: absolute; 
    padding: 10px 10px 0px 10px; 
    bottom: 0; 
    width: 100%; 
    height: 4.5rem;
}

footer p {
    padding-bottom: 5px;
}

/*********** BOX ALIGNMENT *****************/
* {
    box-sizing: border-box;
  }
/******************************************/

 /**************** FONTS *****************/

 @font-face { 
    font-family: 'Ababil';
    src: url('../fonts/Ababil.ttf');
}

@font-face {
    font-family: 'Yanone_EL';
    src: url('../fonts/Yanone_EL.ttf');
}

@font-face {
    font-family: 'Yanone_R';
    src: url('../fonts/Yanone_R.ttf');
}

@font-face {
    font-family: 'AdamPro';
    src: url('../fonts/AdamPro.otf')
}

 /*************************************/

/***************** MENU *******************/

#menu li {
    font-family: 'Yanone_EL', sans-serif;
    font-size: 24px;
    font-weight: 600;
    display:inline-block;
    padding: 0 10px;
}
/* #menu li a{
	text-decoration:none;
	color: white;
} */

a{
    text-decoration:none;
    color: white;
}

a:hover, a:active {
    text-decoration: underline;
}

#menu li.active a:hover{
	color: white;
    font-weight: bold;
}
#menu li a,
#menu li.active a{
	padding: 2px 25px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position: static;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

.logo {
    width: 80px;
    max-width: 100%;
    margin-right: 15px;
}

#center_logo {
    text-align: center;
}

.float_center{
    text-align: center;
}

/* Graphics, Websites, and modal selectors */

#page-container {
    position: relative;
    min-height: 100vh;
}

.center {
    margin: 0 24%;
}

.grid-container {
    padding-top: 100px;
    padding-bottom: 20px;
}

.grid-container > .design-content {
    padding:  5px;
}

/*Don't remember what content and clear is doing but display set to table allows the grid elements to display side by side*/
.grid-container:after {
    content: "";
    display: table;
    clear: both;
}
  
/*You can adjust the width for responsive web purposes with media queries*/
.design-content {
    float: left;
    width: 50%;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
  
/*Gives each design div a hover feature*/
.design-content:hover {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(225, 225, 225), 0 6px 20px 0 rgba(225, 225, 225);
    /* border-color: red; */
    /* transform: scale(1.1); */
}
  
.design-image {
    left: 235px;
    width: 100%;
}

.design-description {
    margin: auto;
    padding-top: 60px;
    width: 80%;
    color: white;
    text-align: center;
    display: block;
}


.DD-description {
    text-align: justify;
    margin: 0 25%;
}

.site-container {
    height: 85vh;
    display: table;
    width: 100%;
}

.center-site {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.site-description {
    font-size: 40px;
    text-align: center;
    margin: 0 15%;
}

/*******************************************/

/* Next, previous, and close buttons */

.prev,
.next {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}


/*On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.close {
    color: white;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 40px;
    font-weight: bold;
}

img {
  margin-bottom: -5px;
  width: 50%;
}

/*******************************************/

/* Media Queries */

/* Only one media query used for project.html. Will require menu to be rized after 380px. */
/* @media (min-width: 180px) and (max-width: 950px) {
    .center {
        margin: 0 20%;
    }

    .design-content {
        float: none;
        width: 100%;
    }
} */

/* Two media queries where added to display both phones and tablets */
@media (min-width: 320px) and (max-width: 481px) {

    .center {
        margin: 0 20%;
    }

    .design-content {
        float: none;
        width: 100%;
    }

    .design-description {
        width: 100%;
    }

    .site-description p {
        font-size: 21px;
    }

    .logo {
        width: 60px;
        max-width: 100%;
        
        /* padding-right: 15px; */
    }
    ul li a {
        font-size: 18px;
    }
    p {
        font-size: 16px;
    }
    section a {
        font-size: 21px;
    }

}

@media (min-width: 482px) and (max-width: 736px) {
    .center {
        margin: 0 20%;
    }

    .design-content {
        float: none;
        width: 100%;
    }
} 

/* @media (min-width: 180px) and (max-width: 320px) {
    .logo {
        width: 35%;
    }
    .center {
        margin: 40px 0;
}
    #text-aligning h2 {
        font-size: 18px;
    }
     #text-aligning {
    font-family: Yanone_R, sans-serif;
    font-size: 16px;
    position: relative;
    left: 0;
    max-width: 100%;
    min-width: 100%;
    margin-top: 15px;
    margin-left: 10px;
    
    
}
.mySlides img {
    position: relative;
    left: 0;
    max-width: 100%;
    min-width: 100%;
    margin-left: 10px;
}
}

@media (min-width: 321px) and (max-width: 480px) {
    .logo {
        width: 26%;
    }
    .center {
        margin: 40px 10%;
}
    .column {
    margin-top: 20px;
    float: left;
    width: 100%;
}
    #text-aligning h2 {
        font-size: 21px;
    }
    
     #text-aligning {
    font-family: Yanone_R, sans-serif;
    font-size: 18px;
    position: relative;
    left: 0;
    max-width: 100%;
    min-width: 100%;
    margin-top: 15px;
    margin-left: ;
    
    
}
.mySlides img {
    position: relative;
    left: 0;
    max-width: 100%;
    min-width: 100%;
    margin-left: ;
}
}

@media (min-width: 481px) and (max-width: 768px){
    .logo {
        width: %;
    }
    .center {
    margin: 40px 15%;
    }
    .column {
    margin-top: 20px;
    float: left;
    width: 100%;
}
    #text-aligning {
    font-family: Yanone_R, sans-serif;
    position: relative;
    left: 0;
    max-width: 100%;
    min-width: 100%;
    margin-top: 15px;
    padding-right: ;
    
    
}
.mySlides img {
    position: relative;
    left: 0;
    max-width: 100%;
    min-width: 100%;
}
}
    


@media (min-width: 769px) and (max-width: 1080px){
    .logo {
        width: %;
    }
    .center {
    margin: 40px 15%;
    }
    .column {
    margin-top: 20px;
    float: left;
    width: 50%;
}
    #text-aligning h2 {
        font-size: 21px;
    }
    #text-aligning {
    font-family: Yanone_R, sans-serif;
    font-size: 18px;
    position:absolute;
    top: 200px;
    right: 440px;
    max-width: 400px;
    min-width: 400px;
    margin: ;
    padding-right: ;
    
    
}
.mySlides img {
    position: absolute;
    top: 200px;
    right: 90px;
    max-width: 300px;
    min-width: 300px;
}
}

@media (min-width: 1081px) {
    #text-aligning {
    font-family: Yanone_R, sans-serif;
    position: fixed;
    float: ;
    left: 740px;
    max-width: 550px;
    min-width: 550px;
    margin: ;
    padding-right: ;
    
    
}
.mySlides img {
    position: fixed;
    left: 235px;
    max-width: 450px;
    min-width: 450px;
}
}
 */
